@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+3&display=swap');

body{
    background-color: #16161a;
    color: white;
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
}
.navbar a{
    display: block;
    text-align: center;
    color: white;
    padding: 15px;
}
.navbar a:hover{
    background-color: #7f5af0;
}
.navbar li{
    float: center;
}
.text-center {
    text-align: center;
  }
/* mouse over link */
a:hover {
    color: #16161a;
}
@media screen and (max-width: 600px) {
    
  }